.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
  text-align: start;
  list-style-type: none;
  background-color: white;
  color: black;
  border: 2px solid #09D3AC;
  border-bottom: none;
}

form {
  width: 100%;
}
input {
  width: 100%;
}
